@model CVGS.Models.Review

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
    <dl class="dl-horizontal">
        <dt>
            Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            Display Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayStatus)
        </dd>

        <dt>
            Game Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.title)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            Created At
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            Updated At
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

    </dl>
    
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                   @using (Html.BeginForm("Approve", "Review"))
                   {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.reviewID)
                    <div class="form-actions no-color">
                        <input type="submit" value="Approve" class="btn btn-default" />
                    </div>
                   }
                </div>
                <div class="col-sm-6 col-lg-6">
                    @using (Html.BeginForm("Deny", "Review"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.reviewID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Deny" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
